<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
	<listeners>
		<listener class-name="autobots.resources.Listeners"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>		
      <class name="autobots.buildframework.ValidationsTest"/> 
      <class name="autobots.buildframework.LoginpagevalidationsTest"/> 
      <class name="autobots.buildframework.HomepagevalidationsTest"/> 
      <class name="autobots.buildframework.ItemspagevalidationTest"/>
      <class name="autobots.buildframework.CheckoutvalidationsTest"/>
      <class name="autobots.buildframework.OrderspagevalidationsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
